{
  "comments": false,
  "env": {
    "default": {
      "presets": [
        [ "env", { "targets": { "node": "current" } } ],
        [ "babili", {
          "replace": false,
          "removeConsole": false,
          "removeDebugger": false
        } ]
      ]
    },
    "build": {
      "presets": [
        [ "env", { "targets": { "node": "current" } } ],
        [ "babili", {
          "replace": false,
          "removeConsole": false,
          "removeDebugger": true
        } ]
      ],
      "ignore": [
        "**/__mocks*__/*.js",
        "**/__tests*__/*.dist.spec.js",
        "**/__tests*__/*.spec.js"
      ]
    }
  }
}
