# .gitignore 101 - https://www.quora.com/Does-gitignore-file-only-work-on-current-folder

# dot files/ folders
.*cache
.build/
.DS_Store
.firebase/
.nyc_output
.tmp/
.vscode
*.env
*.idea
*.local
*.log*
*.tsbuildinfo

# folders
coverage*/
dist*/
log*/
node_modules/
web_modules/

# Do not ignore
