#datepickerContainer, #datepickerContainer div {
  /*width: calc(360px - 64px);*/
  width: calc(100vw - 64px);
  position: relative
}

/* to be removed soon */
div {
  /*border: 1px solid;*/
}

/* layout-ing containers */
#datepickerContainer, #selectionView {
  /*@apply(--layout-vertical);
  @apply(--layout-center-center);*/
}

#selectionView {
  /*background: var(--google-green-500);*/
  background: var(--paper-teal-500, #009688);
  color: #ffffff;
  text-align: center;
  /*min-height: 215px;*/
}

/* #weekdayContainer */
#weekdayContainer {
  background: var(--paper-teal-700, #00796b);
  padding-bottom: 6px;
}

/* #dateContainer */
#dateContainer {
  padding: 12px 0;
}

/* #month */
#month {
  text-transform: uppercase;
  font-size: 27px;
}

/* #year */
#year {
  font-size: 25px;
}

/* #day */
#day {
  font-size: 90px;
}

/* #monthYear */
#monthYear {
  padding: 3px 0;
  @apply(--layout-horizontal);
  @apply(--layout-center-center);
}

/* #selectedMonthYear */
#selectedMonthYear {
  text-align: center;
  @apply(--layout-flex-auto);
}

/* #weekdays */
#weekdays {
  text-align: center;
  padding: 3px 0;
  @apply(--layout-horizontal);
}

/* #weekdays span */
#weekdays span {
  @apply(--layout-flex-2);
}

/* #buttonContainer */
#buttonContainer {
  @apply(--layout-horizontal);
  @apply(--layout-end-justified);
}

/* paper-button */
paper-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: var(--paper-teal-500);
}

paper-button /deep/ .keyboard-focus {
  font-weight: normal;
}

/* week[n] */
/*div[id^="week"] {*/
  /*@apply(--layout-horizontal);*/

/*}*/

/*div[id^="week"] span {*/
  /*text-align: center;*/
  /*@apply(--layout-flex-2);*/
/*}*/

/* .week-contaienr */
.week-container {
  /*border: 1px solid red;*/
  padding: 3px 0;
  text-align: center;
  min-height: calc(22px + 6px);
  @apply(--layout-horizontal);
  @apply(--layout-center-center);
}

/* .day-container */
.day-container {
  /*border: 1px solid blue;*/
  @apply(--layout);
  /*@apply(--layout-center-center);*/
  @apply(--layout-flex-2);
}

/* .day */
.day {
  min-width: 22px;
  min-height: 22px;
  font-size: 12px;
  @apply(--layout);
  @apply(--layout-center-center);
}

/* .day-selected */
div .day-selected {
  background: var(--paper-teal-500, #009688);
  color: #ffffff;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

/* to style today */
.is-today {
  color: var(--paper-teal-500, #009688);
}

/* to style disabled days */
.is-disabled {
  color: var(--paper-grey-500, #9e9e9e);
}

neon-animated-pages {
  height: calc(100vh - 32px - 215px - 42px);
  /*height: 275px;*/ /* neon-animated-pages has zero height, explicitly height is set.*/
}

#days {
  max-height: calc(100vh - 32px - 215px - 42px - 46px - 25px);
  overflow: auto;
}

/* #yearContainer */
#yearContainer, #dayContainer {
  position: relative;
}

/* expand-family-group */
#yearView {
  @apply(--layout-vertical);
  @apply(--layout-center-center);
}

#yearView #expandContainer * {
  width: initial;
}

#expandMoreGroup, #expandLessGroup, #expandYear {
  text-align: center;
  padding: 3px 0 3px 40px;
}

#expandYear {
  font-size: 70px;
  padding: 3px 0;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media all and (orientation: landscape) {
  :host, #datepickerContainer {
    /*max-height: calc(100vh - 32px);
    max-width: calc(100vw - 32px - 32px);*/
  }

  #datepickerContainer, #datepickerContainer div {
    /*width: calc(360px - 64px);*/
  }

  #selectionView div{
    width: calc(100vw - 64px - 296px);
    /*max-width: calc(100vw - 64px - 296px);*/
    /*max-width: calc(640px - 64px - 296px);*/
  }

  /* layout-ing containers */
  #datepickerContainer, #selectionView {
    max-height: calc(100vh - 32px - 42px);
  }

  #viewContainer, neon-animated-pages {
    height: calc(100vh - 32px - 42px);
  }

  #dateContainer {
    height: calc(100vh - 32px - 42px - 25px);
  }

  #days {
    max-height: calc(100vh - 32px - 42px - 46px - 25px);
  }

  div #buttonContainer {
    width: calc(100vw - 64px);
  }
}

@media all and (min-width: 0) and (max-width: 359px) and (max-resolution: 2dppx) and (orientation: portrait) {
      :host {
        /* 20px status bar */
        /* 40px navigation bar */
        /* 16px interval in between for top and bottom */
        /* 32px interval in between for left and right */
        max-height: calc(100vh - 32px);
        max-width: calc(100vw - 32px - 32px);
      }

      #calendar-selection {
        /*width: 252px;*/
        width: 100%;
      }

      #views {
        height: 100%;
        width: 256px;
      }

      #calendar {
        max-height: calc(100vh - 32px - 168px - 30px);
      }
    }

    /* mobile-large */
    @media all and (min-width: 360px) and (min-resolution: 3dppx) and (orientation: portrait) {
      :host {
        /* 20px status bar */
        /* 40px navigation bar */
        /* 16px interval in between for top and bottom */
        /* 32px interval in between for left and right */
        max-height: calc(100vh - 32px);
        max-width: calc(100vw - 32px - 32px);
      }

      #calendar-selection {
        /*width: 252px;*/
        width: 100%;
        background: #009688;
      }

      #views {
        height: 100%;
        width: 256px;
      }

      #calendar {
        max-height: calc(100vh - 32px - 168px - 30px);
      }
    }

    /* mobile-small-landscape */
    @media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) {
      :host {
        /* 20px status bar */
        /* 40px navigation bar */
        /* 16px interval in between for top and bottom */
        /* 32px interval in between for left and right */
        max-height: calc(100vh - 2em);
        max-width: calc(100vw - 4em);
      }

      #calendar-selection, #calendar {
        max-height: calc(100vh - 2em - 1.875em);
      }

      #calendar-selection {
        background: #009688;
      }

      .selectedWeekday {
        font-size: 14px;
      }

      #selectedMonth, #selectedYear {
        /*padding: 6px 0;*/
      }

      #selectedDay {
        padding: 3px 0;
      }

      .selectedMonth, .selectedYear {
        font-size: 23px;
        line-height: 34px;
      }

      .selectedDay {
        font-size: 80px;
        line-height: 70px;
      }
    }

    /* mobile-large-landscape */
    @media all and (min-width: 481px) and (orientation: landscape) {
      :host {
        max-height: calc(100vh - 2em);
        max-width: calc(100vw - 4em);
      }

      #calendar-selection, #calendar {
        max-height: calc(100vh - 2em - 1.875em);
      }

      #calendar-selection {
        background: #009688;
      }

      .selectedWeekday {
        font-size: 14px;
      }

      #selectedMonth, #selectedYear {
        padding: 6px 0;
      }

      #selectedDay {
        padding: 3px 0;
      }

      .selectedMonth, .selectedYear {
        font-size: 23px;
        line-height: 44px;
      }

      .selectedDay {
        font-size: 80px;
        line-height: 70px;
      }
    }

    /* mobile-large-landscape above 640px */
    @media all and (min-width: 640px) and (orientation: landscape) {
      :host {
        max-height: calc(100vh - 2em);
        max-width: calc(100vw - 4em);
      }

      #calendar-selection, #calendar {
        max-height: calc(100vh - 2em - 1.875em);
      }

      #calendar-selection {
        background: #009688;
      }

      #selectedWeekdayHeader {
        padding: 1px;
      }

      .selectedWeekday {
        font-size: 22px;
      }

      #selectedMonth, #selectedYear {
        padding: 3px 0;
      }

      #selectedDay {
        padding: 28px 0;
      }

      .selectedMonth, .selectedYear {
        font-size: 40px;
        line-height: 40px;
      }

      .selectedDay {
        font-size: 140px;
        line-height: 121px;
      }
    }

    /* desktop-large */
    @media all and (min-width: 1281px) and (max-width: 1600px) {

    }
    /* desktop-xlarge */
    @media all and (min-width: 1601px) and (max-width: 1920px) { }
